Main:numberOfEvents = 25000

Next:numberShowLHA = 1 ! print LHA information n times
Next:numberShowInfo = 1 ! print event information n times
Next:numberShowProcess = 1 ! print process record n times
Next:numberShowEvent = 1 ! print event record n times
Stat:showPartonLevel = on ! additional statistics on MPI

Beams:eCM = 8000.
Random:setSeed = on

! PartonLevel:MPI = off 
! PartonLevel:ISR = off 
! PartonLevel:FSR = off 
HadronLevel:Hadronize = off 
! HardQCD:all = off
! SoftQCD:all = off
ParticleDecays:mixB = off
PhaseSpace:pTHatMin = 45
PhaseSpace:pTHatMinDiverge = 0.5

443:onMode = off
100443:onMode = off 

443:onIfAny = 13
100443:onIfAny = 13 

